table.layout(cellspacing='0',cellpadding='0')
    tr.header
        td.alt(colspan='6') Logo and Stuff
    tr.gr1
        td(rowspan='2') Stream Builder
        td.alt(colspan='2') Sentiment
        td(colspan='3') Heat Map
    tr.gr2
        td.alt Opinion Leaders
        td Top Words
        td.alt Top Locations
        td Top Urls
        td.alt Top Retweets
    tr.footer
        td.alt Tweets Processed
        td Tweets Per Second
        td.alt Number of Users Analyzed
        td Number of GeoTags
        td.alt Some Metric
        td Some Metric