div.span-16.h450
    div.span-7 &nbsp;
    div.span-8.modehost
        div#clocktime FRIDAY MAR 22 - 10:15PM
        div#modestatic MODE
        div#modetitle FILTER
    div.span-15.h36 &nbsp;
    div.span-2.h260 &nbsp;
    div.span-5.h260 &nbsp;
    div.span-4.h260
        div.filterheader KEYWORDS:
        div#filterkeywords.filterparams
            | Libya Ghadfi
            br
            | Mauritana
            br
            | Romney Election
            br
            | Tuber Bomber
            br
            | Chinese Economic Forum
            br
            | Horn of Africa
            br
            | US Aid to Mali
    div.span-4.h260
        div.filterheader LOCATIONS:
        div#filterlocations.filterparams
            | Bounding Box 1
            br
            | SW: 39.08 N, 77.15 W
            br
            | NE: 39.08 N, 77.15 W

div.span-16.maphost
    div.mapcontent
        div.mapbanner
            span TWEETS ABOUT
        div#mapabout.map
    img(src='/images/bigshadow.png',alt='')

div.span-16.maphost
    div.mapcontent
        div.mapbanner
            span TWEETS FROM
        div#mapfrom.map
    img(src='/images/bigshadow.png',alt='')

div(style='clear: both') &nbsp;

div.padl.span-8
    div.boxd.h520
        img(src='/images/ribbon.png',alt='')
        div.smlbanner
            | TOP NEWS INTERESTS
        div.section
            ol#topnews &nbsp;
    img(src='/images/smallshadow.png', alt='')

div.span-8
    div.boxd.h520
        img(src='/images/ribbon.png',alt='')
        div.smlbanner
            | TOP OPINION LEADERS
        div.section
            ol#topmentions &nbsp;
    img(src='/images/smallshadow.png', alt='')

div.span-8
    div.boxd.h520
        img(src='/images/ribbon.png',alt='')
        div.smlbanner
            | TOP RE-TWEETS
        div.section
            ol#toptweets &nbsp;
    img(src='/images/smallshadow.png', alt='')

div.span-8
    div.boxd.h520
        img(src='/images/ribbon.png',alt='')
        div.smlbanner
            | TOP KEYWORDS
        div.section
            ol#topwords &nbsp;
    img(src='/images/smallshadow.png', alt='')

div.span-8
    div.boxd.h520
        img(src='/images/ribbon.png',alt='')
        div.smlbanner
            | TOP TWEETS FROM
        div.section
            ol#toplocsfrom &nbsp;
    img(src='/images/smallshadow.png', alt='')

div.span-8.last
    div.boxd.h520
        img(src='/images/ribbon.png',alt='')
        div.smlbanner
            | TOP TWEETS ABOUT
        div.section
            ol#toplocsabout &nbsp;
    img(src='/images/smallshadow.png', alt='')

