
.bodyoverride {
    height: 1080px;
    width: 1920px;
    background-image: url(/images/twitterbcg2.jpg);
    background-color: #dfdfdf;
    background-repeat: no-repeat;
    font-family: Helvetica;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 14px;
}

/* Track
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}   */

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 6px;
    border-radius: 10px;
    background: rgba(88,177,206,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4);
}

#clocktime {
    font-size: 12px;
    margin-top: 14px;
    color: #777777;
    font-weight: bold;
}

#streamstate {
    text-align: center;
    display: inline;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 10px;
    color: #555555;
    font-weight: bold;
}

#modestatic {
    margin-top: 28px;
    margin-left: 10px;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
}

#modetitle {
    margin-left: 6px;
    line-height: 32px;
    font-size: 32px;
    font-style: italic;
    font-family: "Times New Roman";
    /* text-shadow: -1px -1px #666, 1px 1px #FFF;   */
}

.filterheader {
    font-size: 14px;
    font-weight: bold;
    color: #2ca8d5;
}

.filterparams {
    font-size: 12px;
    font-weight: bold;
}

.maphost {
    height: 424px;
}

.mapcontent {
    height: 394px;
    padding-top: 32px;
    background-color: #ffffff;
}

.mapbanner {
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    background: url(/images/titlebackground.png);
    border: 1px solid #aaaaaa;
    -webkit-border-radius: 4px;
    font-size: 18px;
    color: #777777;
}

.mapbanner span {
    margin-left: 24px;
}

.map {
    margin-top: 24px;
    margin-left: 18px;
    width: 590px;
    height: 300px;
}

.padl {
    margin-left: 8px;
}

.boxd {
    padding-top: 18px;
    background-color: #ffffff;
}

.section {
    margin-top: 24px;
    overflow-y: scroll;
    overflow-wrap: break-word;
    height: 436px;
    border-bottom: none;
    overflow-x: hidden;
}

.section ol {
    color: #58b1ce;
    font-size: 18px;
    font-style: italic;
}

.linebreaker {
    width: 100%;
    line-height: 3px;
    border-bottom: 1px dashed #999999;
}

.norm {
    font-size: 16px;
    font-style: italic;
    color: #999999;
}

.user {
    color: #999999;
}

.newstopic {
    font-size: 12px;
    font-style: italic;
    color: #777777;
}

.newsbottom {
    width: 100%;
    font-size: 10px;
}

.percentlinebg {
    margin-top: 6px;
    background-color: #aaaaaa;
    width: 100%;
    font-size: 10px;
}

.percentline {
    background-color: #58b1ce;
    line-height: 8px;
}

.percentvalue {
    color: #aaaaaa;
    font-style: normal;
    width: 60%;
}

.totaltweets {
    text-align: right;
    font-weight: bold;
    color: #58b1ce;
    font-style: normal;
    width: 40%;
}

.tweet {
    font-size: 12px;
    font-style: normal;
    color: #333333;
}

.retweettime {
    font-size: 10px;
    font-style: italic;
    color: #999999;
}

.count {
    font-size: 12px;
    color: #58b1ce;
    font-weight: bold;
    margin-left: 20px;
}

.smlbanner {
    width: 100%;
    margin-top: 17px;
    padding-top: 7px;
    padding-bottom: 7px;
    background: url(/images/titlebackground.png);
    border: 1px solid #aaaaaa;
    -webkit-border-radius: 4px;
    font-size: 18px;
    color: #777777;
}

.boxd img {
    float: right;
}

.boxd>div {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #cccccc;
    font-size: 1.5em;
}

.boxd ol {
    width: 220px;
    text-align: left;
    margin-left: 24px;

}

.boxd .comment {
    margin: 0px 10px;
}

.comment {
    font-size: 1.0em;
    font-style: italic;
    color: #777777;
}



.w10p { width: 10%; }
.w16p { width: 16%; }
.w20p { width: 20%; }
.w30p { width: 30%; }
.w40p { width: 40%; }
.w50p { width: 50%; }
.w60p { width: 60%; }
.w70p { width: 70%; }
.w80p { width: 80%; }
.w90p { width: 90%; }
.w100p { width: 100%; }

.h24 { height: 24px; }
.h36 { height: 36px; }
.h48 { height: 48px; }
.h72 { height: 72px; }
.h100 { height: 100px; }
.h200 { height: 200px; }
.h260 { height: 260px; }
.h300 { height: 300px; }
.h400 { height: 400px; }
.h450 { height: 450px; }
.h500 { height: 500px; }
.h520 { height: 520px; }
.h540 { height: 540px; }
.h600 { height: 600px; }
.h700 { height: 700px; }
.h800 { height: 800px; }
.h900 { height: 900px; }
.h1000 { height: 1000px; }